biopython                 1.81                     
boto3                     1.24.86                 
botocore                  1.27.86                
h5py                      3.8.0                   
numpy                     1.21.6                
pandas                    1.3.5
python                    3.7.13   
scikit-learn              1.0.2
scipy                     1.7.3 
torch                     1.12.0
